.form {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

}

.form h4 {
  color: #3d69c7;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 20px;
}

.form form {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  box-shadow: #304ffe4a 0px 4px 15px;
  border: 2px solid #3d69c7;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.form label {
  color: #3d69c7;
  margin-bottom: 5px;
  font-weight: 400;
}

.error{
  color: #c73d44;
  margin-bottom: 30px;
  direction: ltr !important;
}

.errorPaswrd{
  color: #c73d44;
  margin-bottom: 30px;
  direction: ltr !important;
  font-size: 0.5rem;
}


.form input {
  width: 250px;
  border: 1px solid #3d69c7;
  color: rgb(61, 61, 61);
  border-radius: 5px;
  padding: 5px;
  direction: ltr !important;
  font-size: 1rem;
}

.form input:focus {
  border: 1px #3d69c7 solid;
  outline: none;
}

.form button {
  border: none;
  background-color: #3d69c7;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 5px;
  transition: all ease-in 0.1s;
  cursor: pointer;
  padding: 5px 0;
}

.form p {
  color: grey;
  font-size: 1.1rem;
}

.form a {
  color: #3d69c7;
  margin-right: 10px;  
}


@media (max-width: 900px) {
  .form {
    height: 60vh;
  }

  .form h4 {
    font-size: 1.5rem
  }

  .form form {
    max-width: 260px;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid #3d69c7;
  }

  .form label {
    font-size: 0.9rem;

  }

  .form label ,.form a,.form p{
    font-size: 0.9rem;
  }

  .form input {
    width: 200px;
    font-size: 0.9rem;
  }
  
  .error{
    margin-bottom: 20px;
  }
  
  .form button {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .form {
    height: 50vh;
  }

  .form h4 {
    font-size: 1.2rem
  }

  .form form {
    max-width: 200px;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #3d69c7;
  }

  .form label ,.form a,.form p{
    font-size: 0.8rem;
  }

  .form input {
    width: 150px;
    font-size: 0.9rem;
  }

  .errorLabel{
    margin-bottom: 15px;
  }


  .form button {
    font-size: 0.9rem;
  }


}