.button {
  display: flex;
  background: none;
  border: none;
  margin-top: 20px;
  text-align: right;
  font-size: 1rem;
  color: rgb(219, 5, 5);
  cursor: pointer;
}

.button svg {
  font-size: 1.2rem ;
  margin-left: 5px;
  color: rgb(219, 5, 5) !important;
}


@media (max-width: 900px) {
  .button {
    font-size: 0.85rem;
  }

  .button svg {
    font-size: 1rem;
  }
}



@media (max-width: 600px) {

  .button svg {
    font-size: 0.85rem;
  }

  .button {
    font-size: 0.7rem;
    margin: 5px 10px;
  }
}