.container {
    margin-bottom: 40px;
  }
  
  .container p {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .container .main label{
    font-size: 1rem;
  }
  
  .main {
    display: flex;
    margin-bottom: 5px;
  }
  
  .main div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #304ffe18;
    color: #3d69c7; 
    margin-left: 30px;
    width: 70px;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .error{
    float: right;
    color: #c73d44;
    margin-bottom: 30px;
    font-size: 0.85rem;
  }
  

  @media (max-width: 900px) {
    .container p,
    .container .main label{
      font-size: 0.9rem;
    }
    .error{
      font-size: 0.8rem;
    }
  
  }
  
  
  
  @media (max-width: 600px) {
    .container p,
    .container .main label{
      font-size: 0.75rem;
      
    }
    .main {
      flex-direction: column;
      gap: 5px;
    }
    .main div{
      justify-content: flex-start;
      gap: 4px;
    }
    .error{
      font-size: 0.68rem;
    }
  
  }
  
  