.container {
  margin-bottom: 40px;
}

.container p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.container button {
  border: none;
  background-color: #3d69c7;
  color: #fff;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: all ease-in 0.1s;
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 3px;

}

.container button:hover {
  transform: scale(1.05);
}

.container button svg {
  margin-right: 5px;
  font-size: 1rem;
}

.mainCard{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.card {
  display: flex;
}

.card input {
  width: 300px;
  border: 1px solid #3d69c7;
  color: grey;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  height: 30px;
  margin-left: 10px;
}

.card input:focus {
  border: 1px solid #3d69c7;
  outline: none;
}

.card button {
  margin: 0;
  color: #db0505;
  background-color: #fff;
  border: 1px #db0505 solid;
  display: flex;
  align-items: center;
  line-height: 10px;
}

.error {
  float: right;
  color: #c73d44;
  font-size: 0.85rem;
}


@media (max-width: 900px) {

  .container p {
    font-size: 0.9rem;
  }

  .container button {
    font-size: 0.825rem;
    padding: 4px 4px;

  }

  .container button svg {
    margin-right: 3px;
    font-size: 0.9rem;
  }

  .card input {
    width: 250px;
  }
}



@media (max-width: 600px) {
  .container {
    margin-bottom: 25px;
  }

  .container p {
    font-size: 0.75rem;
    margin-bottom: 3px;
  }

  .container button {
    font-size: 0.725rem;
    padding: 4px 4px;

  }

  .container button svg {
    margin-right: 1px;
    font-size: 0.8rem;
  }

  .card input {
    width: 180px;
  }


  .container button {
    margin-bottom: 10px;
  }
}